@import './fonts.scss';
@import './vars.scss';



*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: ClashDisplay;
    font-weight: 400;

    &._lock {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.content {
    flex: 1 1 auto;
    padding-top: 130px;

    @media (max-width: 768px) {
        padding-top: 60px;
    }
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 16px 32px;
    font-size: 16px;
    transition: opacity 0.1s linear;

    &:hover {
        opacity: 0.8;
    }
}

.title {
    color: $dark;
    font-size: 32px;
}

.main-enter {
    opacity: 0;
}

.main-enter-active {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.main-exit {
    opacity: 1;
}

.main-exit-active {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.productPage {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.productPage-enter {
    opacity: 0;
}

.productPage-enter-active {
    opacity: 1;
}

.productPage-exit {
    opacity: 1;
}

.productPage-exit-active {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.loading-screen {
    text-align: center;
    font-size: 18px;
    padding: 150px 0;
}


// components

@import './components/products';
@import './components/cart';
@import './components/checkout';